/* Navi Bileşeni için Özel Stil */


.navbar {
  background-color: #032a41; /* Navbar arka plan rengi */
  color: #fff; /* Metin rengi */
  margin: 0;
}

.navbar-brand a {
  color: #fff !important; /* Logo rengi */
  font-size: 2.2rem; /* Logo metin boyutu */
}

.nav-link {
  color: #fff !important; /* Menü bağlantıları rengi */
  margin-right: 20px; /* Menü bağlantıları arasındaki boşluk */
}

.nav-link:hover {
  color: #17a2b8 !important; /* Menü bağlantılarına hover olduğunda rengi */
}

/* Aktif menü bağlantısı rengi */
.nav-item.active .nav-link {
  color: #17a2b8 !important;
}

